<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ale.espaisparaviejos" >

    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:name="@string/step_detector" android:required="false"/>

    <uses-feature
        android:name="@string/step_counter" android:required="false"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FallingUseCase"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SoundDetectionUseCase"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StepCounterUseCase"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
